config LEDS_AW20198
	tristate "LED Support for AW20198"
	depends on LEDS_CLASS && I2C
	help
	  this option enables support for the AW20198 RGB LED connected
	  through I2C. Say Y to enable support for the AW20198 LED
	  light automatically.

